<div style="font-size: 16; line-height: 24px; color: #333; font-family: sans-serif">
  <p>Fala {{name}} beleza?</p>
  <p>Você acabou de criar sua conta no Twitterfy com o usuário {{username}}</p>
  <p>
    Nós vemos lá
    <strong>Equipe Twitterfy</strong>
  </p>
</div>
